h1{
    text-align: center;
}
table{
    border: 1px solid black;
    padding: 20px;
    width: 400px;
    background-color: gainsboro;
    margin: auto auto ;
    margin-top: 80px;
    border-radius: 10px;
    box-shadow: 3px 3px rgb(194, 189, 189);
}
.result{
    border: 1px solid black;
    height: 60px;
    width: 100%;
    background-color: white;
    padding-top: 15px;
    margin-bottom: 10px;
    font-size: 2em;
    padding-left: 10px;
    letter-spacing: 2px;
    border-radius: 8px;
    text-align: start;
}
button{
    width: 100%;
    height: 35px;
    margin:3px;
   
    background-color:rgb(24, 10, 10);
    color: rgb(237, 237, 237);
}
#equalbtn{
    background-color: green;
}
#equalbtn:hover{
    background-color: rgb(79, 172, 79);
}
#clear{
    background-color: rgb(128, 0, 13);
}
#clear:hover{
    background-color: rgb(220, 42, 60);
}
input:hover{
    background-color:gold;
}
button:hover{
    background-color: rgb(216, 162, 36);
}